<div id="<%= dom_id entry %>">
  <div>
    <strong>Description:</strong>
    <%= entry.description %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= entry.amount %>
  </div>

  <div>
    <strong>Occurred on:</strong>
    <%= entry.occurred_on %>
  </div>

</div>
